* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
}

header {
    width: 100%;
    background: transparent;
    background: url(./img/home-banner.png) no-repeat top center;
    background-position: center -25px;
    background-size: cover;
    min-height: 890px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* nav */
nav .container {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-links {
    margin-left: 140px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-link {
    margin-right: 40px;
    font: 500 14px / 100px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #05364d;
    padding: 0px;
    font-size: 12px;
    transition: 0.5s;
}

.active {
    color: #efb6df;
}

.nav-link:hover {
    color: #efb6df;
}

.dropdown-menu {
    position: absolute;
    padding-left: 0;
}

.dropdown-link {
    color: #00000000;
}

.dropdown:hover .dropdown-link {
    color: #000;
}

.dropdown:hover .dropdown-item {
    padding: 15px 30px;
    width: 170px;
    transition: 0.5s;
}

.dropdown:hover .dropdown-item1 {
    border-bottom: 1px solid #8385862c;
}

.dropdown:hover .dropdown-menu {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-item:hover {
    background: linear-gradient(to left, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
}

.dropdown-item:hover .dropdown-link {
    color: #fff;
    font-weight: 500;
}

.header-text h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    margin-top: 70px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
}

.header-text h5 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 400;
}

.header-text a {
    background: linear-gradient(to right, rgb(19, 69, 230) 0%, rgb(237, 35, 159) 51%, rgb(19, 69, 230) 100%) 0% 0% / 200%;
    padding: 15px 38px;
    border-radius: 6px;
    color: #fff;
}

.header-text-icons {
    margin: 48px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 60px;
}

.img {
    margin-right: 16px;
    width: 30px;
}

.header-flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

.header-img {
    width: 350px;
    position: absolute;
    right: 3px;
    top: 1px;
}

.img:hover {
    animation: a 1s;
}

@keyframes a {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-text a:hover {
    background: linear-gradient(to right, rgb(237, 35, 159), rgb(19, 69, 230));
}

.header-div-mini {
    width: 160px;
    margin-right: 30px;
    background-color: #f3f3f3;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #00bcd4;
}

.header-divs {
    display: flex;
    align-items: center;
    padding-top: 200px;
}

/*  */

.aboutme {
    margin-top: 50px;
    padding-bottom: 100px;
}

.about-content {
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.about-img {
    width: 450px;
    height: 370px;
}

.about-img img {
    width: 450px;
    height: 370px;
}

.about-text {
    width: 455px;
}

.all-top {
    display: flex;
    align-items: center;
}

.all-top h3 {
    color: #888;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.all-top span {
    width: 80px;
    height: 4px;
    background: rgba(237, 35, 159, 0.6);
    margin-left: 10px;
    position: relative;
    -webkit-filter: blur(4px);
}

.all-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 52px;
    text-transform: capitalize;
}

.all-text {
    font-size: 16px; 
    color: #888;
    letter-spacing: 1px;
}

.about-text a {
    color: #fff;
    background: linear-gradient(to right, #1345e6, #ed239f);
    border-radius: 5px;
    padding: 16px 38px;
    transition: all 0.5s;
}

.about-text p {
    margin-bottom: 50px;
}

.about-text a:hover {
    background: linear-gradient(to right, #ed239f, #1345e6);
}


.service {
    padding-bottom: 90px;
}

.service h1 {
    margin-bottom: 50px;
    margin-top: 20px;
}

.service-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 290px;
    height: 337px;
    padding: 60px 30px;
    background-color: #f8faff;
    transition: all 1s ease 0s;
    box-sizing: content-box;
}

.card img {
    margin-bottom: 50px;
}

.card h3 {
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 60px;
}

.card span {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 100px;
    background: linear-gradient(to right, #1345e6, #ed239f);
    margin-left: 37%;
    margin-top: 5px;
}

.card a {
    font-weight: 400;
}

.card:hover a {
    color: #fff;
}

.card:hover p {
    color: #fff;
}

.card:hover span {
    background: #fff;
}

.card:hover {
    background-color: #5f30ff;
    color: #fff !important;
}

/*  */
.tesit {
    margin-bottom: 160px;
}

.tesit-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./img/testimonial-bg.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 45%;
    height: 440px;
}

.tesit-main-content div {
    width: 50%;
}

.tesit-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tesit-img img {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.tesit-text h3 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 6px;
}

.tesit-text small {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.tesit-text p {
    margin: 16px 0;
}

.tesit h1 {
    margin: 10px;
}

.tesit ul {
    display: flex;
    justify-content: start;
}

.tesit li {
    margin-right: 10px;
}

.tesit-unactive {
    color: #aeb9be !important;
}

.tesit li i {
    color: #ffd804;
}

/*  */

.portifolio {
    padding-bottom: 120px;
}

.portifolio-links a {
    margin-right: 20px;
    transition: 0.4s;
}

.portifolio-links a:hover{
    color: #ed239f;
}


.portifolio-main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.pmc-left,
.pmc-right {
    width: 555px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.pmc-main {
    position: relative;
    margin-bottom: 30px;
    transition: 1s;
}

.pmc-main img {
    width: 555px;
}

.pmc-main-small {
    width: 260px !important;
}

.pmc-main span {
    position: absolute;
    bottom: 40px;
    left: 80px;
    color: #fff;
    z-index: -1;
}

.pmc-main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5f30ff;
    z-index: 10;
    opacity: .8;
    display: none;
    transition: all 1s ease;
}

.pmc-main:hover::before {
    display: block;
    left: 20px;
    top: 20px;
}

.pmc-main:hover span {
    z-index: 999;
}

/*  */

.blog {
    padding-bottom: 70px;
}

.blog-card {
    width: 350px;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-card-img {
    width: 350px;
    overflow: hidden;
    height: 300px;
}

.blog-card-img img {
    width: 350px;
    height: 300px;
    transition: 0.4s ease;
}

.blog-card-content {
    padding: 32px 30px 37px;
    background-color: #f8faff;
    width: 100%;
    margin-top: -6px;
    transition: 0.4s ease;
}

.blog-card-content-top {
    display: flex;
    color: #888;
}

.blog-card-content-top p {
    margin: -2px 30px 0 15px;
}

.blog-card a {
    transition: all 0.3s ease;
}

.blog-card a:hover {
    color: #ed239f;
}

.blog-card h3 {
    font-size: 20px;
    margin: 4px 0 15px;
}

.blog-card p {
    margin-bottom: 16px;
}

.blog-card a {
    font-size: 13px;
    font-weight: 500;
}

.blog-card span {
    margin-top: 5px;
    width: 60px;
    height: 2px;
    display: block;
    border-radius: 10px;
    background: linear-gradient(to right, #1345e6, #ed239f);
}

.blog-card:hover .blog-card-img img {
    transform: scale(1.1);
}

.blog-card:hover .blog-card-content {
    background-color: #fff; 
    box-shadow: 1px 1px 30px #b3b0b070;
}

/*  */

footer {
    background-image: url(./img/download.svg);
    background-repeat: no-repeat;
    background-size: 100% 260px;
    background-position: right bottom;
    padding: 80px 0 20px;
}

.footer-content {
    text-align: center;
}



.footer-list {
    display: flex;
    justify-content: center;

}

.footer-icons li {
    width: 45px;
    height: 45px;
    transition: 0.4s ease;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.footer-links {
    margin: 35px 0 50px;
}

.footer-links li:hover{
    color: #ee81c4;
}
    
.footer-links li {
    color: #fff;
    margin-right: 40px;
    font-size: 13px;
    transition: 0.4s;
}

.footer-icons li:hover {
    background: linear-gradient(to right, #1345e6, #ed239f);
    color: #fff;
}

.main-icon{
    width: 10px;
}